<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_FORMULARIOS" name="formularios">
    	<field 
    		name="map" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Map" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field 
        	name="map_url" 
        	type="text" 
        	default="" 
        	label="Map url" 
        	description="Google Iframe url" 
        />
        <field 
        	name="map_width" 
        	type="text" 
        	default="100%" 
        	label="Map width" 
        	description="" 
        />
        <field 
        	name="map_height" 
        	type="text" 
        	default="600" 
        	label="Map height" 
        	description="" 
        />
        <field 
    		name="text" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Texte" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field 
        	name="text_content" 
        	type="editor" 
        	default="" 
        	label="Contingut del texte" 
        	description="" 
        	filter="raw"
        />
    	<field name="privacy"
			type="repeatable"
			icon="list"
			description="COM_FORMULARIOS_PRIVACY_DESC"
			label="COM_FORMULARIOS_PRIVACY_LABEL"
			default=''>
			<fieldset hidden="true" name="list_templates_modal" repeat="true">
				<field 
					name="language" 
					type="language" 
					client="site" 
					default="" 
					label="Select a language" 
					description="" 
				/>
				<field 
					name="article" 
					type="menuitem" 
					default="" 
					label="COM_FORMULARIOS_PRIVACY_LABEL" 
					description="COM_FORMULARIOS_PRIVACY_DESC" 
				/>				
			</fieldset>
		</field> 
		<field 
			name="footer"
			type="repeatable"
			icon="list"
			description="COM_FORMULARIOS_FOOTER_DESC"
			label="COM_FORMULARIOS_FOOTER_LABEL"
			default=''
			filter="raw">
			<fieldset hidden="true" name="list_footer_modal" repeat="true">
				<field 
					name="language" 
					type="language" 
					client="site" 
					default="" 
					label="Select a language" 
					description="" 
				/>
				<field 
					name="text" 
					type="textarea" 
					default="" 
					label="COM_FORMULARIOS_FOOTER_TEXT_LABEL" 
					description="COM_FORMULARIOS_FOOTER_TEXT_DESC" 
				/>				
			</fieldset>
		</field>
		<field 
    		name="comercial" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Info comercial" 
    		description="Apareixer o no la casella de info comercial"
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    	<field 
    		name="reCaptcha" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="reCaptcha" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field 
        	name="reCaptcha_sitekey" 
        	type="text" 
        	default="" 
        	label="reCaptcha sitekey" 
        	description="" 
        />
		<field 
        	name="reCaptcha_secretkey" 
        	type="text" 
        	default="" 
        	label="reCaptcha secretkey" 
        	description="" 
        />
        <field 
    		name="honeypot" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Honeypot" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
		<field 
    		name="inline_inputs" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Inline inputs" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
		<field 
    		name="show_mandatory" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="1" 
    		label="Show mandatory fields notice" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_formularios" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>

    <fieldset name="component">
        <field name="save_history" type="radio" class="btn-group btn-group-yesno" default="0" label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL" description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5"/>
    </fieldset>
</config>
