<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_FORMULARIOS" name="formularios">
    	<field 
    		name="map" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Map" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field 
        	name="map_url" 
        	type="text" 
        	default="" 
        	label="Map url" 
        	description="Google Iframe url" 
        />
        <field 
        	name="map_width" 
        	type="text" 
        	default="100%" 
        	label="Map width" 
        	description="" 
        />
        <field 
        	name="map_height" 
        	type="text" 
        	default="600" 
        	label="Map height" 
        	description="" 
        />
        <field 
    		name="text" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Texte" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field 
        	name="text_content" 
        	type="editor" 
        	default="" 
        	label="Contingut del texte" 
        	description="" 
        	filter="raw"
        />
		<field 
    		name="show_privacy" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="1" 
    		label="Mostra privacitat" 
    		description="Mostra o amaga la casella de política de privacitat"
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    	<field name="privacy"
			type="subform"
			icon="list"
			description="COM_FORMULARIOS_PRIVACY_DESC"
			label="COM_FORMULARIOS_PRIVACY_LABEL"
			multiple='true'
			min="1"
			max="10">
			<form>
				<field 
					name="language" 
					type="language" 
					client="site" 
					default="" 
					label="Select a language" 
					description="" 
				/>
				<field 
					name="article" 
					type="menuitem" 
					default="" 
					label="COM_FORMULARIOS_PRIVACY_LABEL" 
					description="COM_FORMULARIOS_PRIVACY_DESC" 
				/>				
			</form>
		</field> 
		<field 
			name="footer"
			type="repeatable"
			icon="list"
			description="COM_FORMULARIOS_FOOTER_DESC"
			label="COM_FORMULARIOS_FOOTER_LABEL"
			default=''
			filter="raw">
			<fieldset hidden="true" name="list_footer_modal" repeat="true">
				<field 
					name="language" 
					type="language" 
					client="site" 
					default="" 
					label="Select a language" 
					description="" 
				/>
				<field 
					name="text" 
					type="textarea" 
					default="" 
					label="COM_FORMULARIOS_FOOTER_TEXT_LABEL" 
					description="COM_FORMULARIOS_FOOTER_TEXT_DESC" 
				/>				
			</fieldset>
		</field>
		<field 
    		name="input_size" 
    		type="list" 
    		default="" 
    		label="Input Size" 
    		description=""
    	>
            <option value="">Default</option>
            <option value="-sm">SM</option>
			<option value="-lg">LG</option>
        </field>
		<field 
    		name="btn_class" 
    		type="list" 
    		default="primary" 
    		label="Button class" 
    		description=""
    	>
            <option value="primary">Primary</option>
            <option value="secondary">Secondary</option>
        </field>
        <field 
    		name="btn_align" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="start" 
    		label="Button align" 
    		description="Align button to left or right"
    	>
            <option value="start">Left</option>
            <option value="end">Right</option>
        </field>
		<field 
    		name="store_messages" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Store messages" 
    		description="Store messages into database"
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
		<field 
    		name="comercial" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Info comercial" 
    		description="Apareixer o no la casella de info comercial"
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    	<field 
    		name="reCaptcha" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="reCaptcha" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field 
        	name="reCaptcha_sitekey" 
        	type="text" 
        	default="" 
        	label="reCaptcha sitekey" 
        	description="" 
        />
		<field 
        	name="reCaptcha_secretkey" 
        	type="text" 
        	default="" 
        	label="reCaptcha secretkey" 
        	description="" 
        />
        <field 
    		name="honeypot" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Honeypot" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
		<field 
    		name="inline_inputs" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="0" 
    		label="Inline inputs" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
		<field 
    		name="show_mandatory" 
    		type="radio" 
    		class="btn-group btn-group-yesno" 
    		default="1" 
    		label="Show mandatory fields notice" 
    		description=""
    	>
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
		<field 
    		name="newsletter" 
    		type="list" 
    		default="0" 
    		label="Newsletter" 
    		description=""
    	>
            <option value="0">None</option>
            <option value="1">Mailchimp</option>
			<option value="2">Campaign Monitor</option>
        </field>
		<field 
        	name="newsletter_apikey" 
        	type="text" 
        	default="" 
        	label="Newsletter API Key" 
        	description="Required by Campaign Monitor and Mailchimp" 
        />
		<field 
        	name="newsletter_listId" 
        	type="text" 
        	default="" 
        	label="Newsletter List ID" 
        	description="Required by Campaign Monitor and Mailchimp" 
        />
		<field 
        	name="newsletter_clientId" 
        	type="text" 
        	default="" 
        	label="Newsletter Client ID" 
        	description="Required by Campaign Monitor" 
        />
    </fieldset>

    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_formularios" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>

    <fieldset name="component">
        <field name="save_history" type="radio" class="btn-group btn-group-yesno" default="0" label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL" description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5"/>
    </fieldset>
</config>
